/* Houston Texans style - houstontexans.css */

#slider-wrap {background: url(../css-teams/houstontexans/slider-bg.png) top left repeat-x #033369!important;}

.cat-post-title a:hover, #featured-cat-lists ul a:hover,.page-navigation a:hover, #navigation ul li a:hover, ul.nav, #navigation li.current_page_item, #navigation li.current_page_item a, .callaction-text strong,
.home-post-title a:hover,.single-title a:hover , .blog-title a:hover ,#posts #comments h3,#posts #comments #respond form input.commentsubmit:hover,#sidebar ul a:hover,
#footer a:hover,#footer ul a:hover,#sitemap ul a:hover {color:#851F2F!important;}
#navigation .sf-menu li ul li a:hover {color: #851F2F !important;}