<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="Premium Football" />
    <meta name="robots" content="INDEX,FOLLOW" />

	<title>Premium Football&nbsp;|&nbsp;Home Page</title>

	<link rel="stylesheet" type="text/css" media="screen" href="style.css" /> <!-- Foundation style sheet -->
	<link rel="stylesheet" type="text/css" media="screen" href="css-teams/oaklandraiders.css" /> <!-- Relace with your teams style sheet -->
	
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="ie7.css" /><![endif]-->

	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel='index' title='Premium Football' href='index.html' />

</head>
<body>

<div id="header">
	<div class="center relative">
	
	<!-- Logo -->
	<a href="index.html" title="Premium Football" class="logo" ><img src="images/logo.png" height="108" width="272" alt="Premium Football" /></a>

	<div id="navigation">
		<div class="menu-header-menu-container">
			<ul id="menu-header-menu" class="sf-menu">
			<li class="menu-item current-menu-item current_page_item menu-item-home"><a href="index.html">Home</a></li>
			<li class="menu-item"><a href="#">Templates</a>
				<ul class="sub-menu">
					<li class="menu-item"><a href="single.html">Single Template</a></li>
					<li class="menu-item"><a href="full-width.html">Full Width Template</a></li>
					<li class="menu-item"><a href="no-footer.html">No Footer Template</a></li>
					<li class="menu-item"><a href="blog.html">Blog</a></li>
					<li class="menu-item"><a href="contact.html">Contact</a></li>
					<li class="menu-item"><a href="404-error.html">404 Error</a></li>
					<li class="menu-item"><a href="home-no-slider.html">No Slider</a></li>
					<li class="menu-item"><a href="home-no-slider-cta.html">No Slider or Call to Action</a></li>
				</ul>
			</li>
			<li class="menu-item"><a href="contact.html">Contact</a></li>
			<li class="menu-item"><a href="#">About</a></li>
			</ul>
		</div><!-- end .menu-header-menu-container -->
	</div><!-- end #navigation -->
	</div><!-- end .center .relative -->

</div><!-- end #header -->