<div class="callaction-bg">
	<div class="textcenter">
	<div class="callaction-text">
		Join Our Fantasy Football League<br />
		<strong>The Draft Starts August 31st</strong>
	</div><!-- end .callaction-text -->
		<a href="blog.html" id="callaction-button"></a>

	</div> <!-- end .textcenter -->
</div> <!-- .callaction-bg -->