<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" class="cufon-active cufon-ready"><head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="Premium Football">
    <meta name="robots" content="INDEX,FOLLOW">

	<title>Premium Football&nbsp;|&nbsp;Home Page</title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application", :media => "all"  %>
	
	<style type="text/css">cufon{text-indent:0!important;}@media screen,projection{cufon{display:inline!important;display:inline-block!important;position:relative!important;vertical-align:middle!important;font-size:1px!important;line-height:1px!important;}cufon cufontext{display:-moz-inline-box!important;display:inline-block!important;width:0!important;height:0!important;overflow:hidden!important;text-indent:-10000in!important;}cufon canvas{position:relative!important;}}@media print{cufon{padding:0!important;}cufon canvas{display:none!important;}}</style>
	
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="ie7.css" /><![endif]-->

	<link rel="shortcut icon" href="/assets/template/favicon.ico" />
	<link rel='index' title='Premium Football' href='index.html' />

</head>
<body>

<div id="header">
	<div class="center relative">
	
	<!-- Logo -->
	<a href="index.html" title="Premium Football" class="logo"><img src="/assets/template/logo.png" height="108" width="272" alt="Premium Football"></a>
	
	<div id="navigation">
		<div class="menu-header-menu-container">
			<ul id="menu-header-menu" class="sf-menu sf-js-enabled sf-shadow">
			<li class="menu-item current-menu-item current_page_item menu-item-home"><a href="index.html">Home</a></li>
			<li class="menu-item"><a href="#" class="sf-with-ul">Templates<span class="sf-sub-indicator"> »</span></a>
				<ul class="sub-menu" style="display: none; visibility: hidden;">
					<li class="menu-item"><a href="single.html">Single Template</a></li>
					<li class="menu-item"><a href="full-width.html">Full Width Template</a></li>
					<li class="menu-item"><a href="no-footer.html">No Footer Template</a></li>
					<li class="menu-item"><a href="blog.html">Blog</a></li>
					<li class="menu-item"><a href="contact.html">Contact</a></li>
					<li class="menu-item"><a href="404-error.html">404 Error</a></li>
					<li class="menu-item"><a href="home-no-slider.html">No Slider</a></li>
					<li class="menu-item"><a href="home-no-slider-cta.html">No Slider or Call to Action</a></li>
				</ul>
			</li>
			<li class="menu-item"><a href="contact.html">Contact</a></li>
			<li class="menu-item"><a href="#">About</a></li>
			</ul>
		</div><!-- end .menu-header-menu-container -->
	</div><!-- end #navigation -->
	</div><!-- end .center .relative -->

</div><!-- end #header -->

<div id="content-container">
<div class="center">
	<div id="body-wrap">
		